<tr>
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= product.quantity %></td>
  <td><%= product.picture %></td>
  <td><%= product.describle %></td>
  <td><%= product.type_product %></td>
  <td><%= product.expiry_date %></td>
  <td><%= product.manufacture_date %></td>
  <td><%= product.category_name %></td>
  <td><%= link_to t("admin.update"), "#" %> |
    <%=link_to t("admin.delete"), "#" %></td>
</tr>
