  <% provide :title, "Product" %>
  <body>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="btn-group">
          <div class="row">
            <div class="navbar-form navbar-right">
              <%= form_tag admin_products_path do %>
                <%= label_tag :name %>
                <%= text_field_tag :name %>
                <%= submit_tag t("admin.users.index.search"), class: "btn btn-primary" %>
              <% end %>
            </div>
        </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= t("admin.categories.index.id") %></th>
                  <th><%= t("admin.products.index.name") %></th>
                  <th><%= t("admin.products.index.price") %></th>
                  <th><%= t("admin.products.index.quantity") %></th>
                  <th><%= t("admin.products.index.picture") %></th>
                  <th><%= t("admin.products.index.describle") %></th>
                  <th><%= t("admin.products.index.type") %></th>
                  <th><%= t("admin.products.index.expiry_date") %></th>
                  <th><%= t("admin.products.index.manufacture_date") %></th>
                  <th><%= t("admin.products.index.category") %></th>
                  <th><%= t("admin.categories.index.action") %></th>
                </tr>
              </thead>
              <tbody>
                <%= render @products %>
              </tbody>
            </table>
            <%= will_paginate @products %>
          </div>
        </div>
  </body>
</html>
