<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active">
        <li><%= link_to t("admin._sidebar.dashboard"), admin_root_path %></li>
        </li>
        <li><%= link_to t("admin._sidebar.user"), admin_users_path %></li>
        <li><%= link_to t("admin._sidebar.category"), admin_categories_path %></li>
        <li><%= link_to t("admin._sidebar.product"), admin_products_path %></li>
        <li><%= link_to t("admin._sidebar.invoice"), "#" %></li>
        <li><%= link_to t("admin._sidebar.invoice_detail"), "#" %></li>
        <li><%= link_to t("admin._sidebar.suggest_product"), "#" %></li>
    </div>
  </div>
</div>
