<% provide :title, t("admin.static_page.home.title") %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= t("admin._sidebar.dashboard") %></h1>
        </div>
    </div>
    <div class="row">
        <% (1..4).each do |i| %>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>New Comments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left"><%= t("admin.static_page.home.detail") %></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    <%= t("admin.static_page.home.statictis") %>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <%= t("admin.static_page.home.by") %>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><%= link_to t("admin._sidebar.product"), "#" %></li>
                                <li><%= link_to t("admin._sidebar.invoice"), "#" %></li>
                                <li><%= link_to t("admin._sidebar.user"), "#" %></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
