<div id="footer">
  <div class="column">
    <h3><%= t(".information") %></h3>
    <ul>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".elements"), "#" %></li>
    </ul>
  </div>
  <div class="column">
    <h3><%= t(".cs") %></h3>
    <ul>
      <li><%= link_to t(".contact"), "#" %></li>
      <li><%= link_to t(".sitemap"), "#" %></li>
    </ul>
  </div>
  <div class="column">
    <h3><%= t("my_account") %></h3>
    <ul>
      <li><%= link_to t("my_account"), "#" %></li>
      <li><%= link_to t(".oder_history"), "#" %></li>
      <li><%= link_to t(".wishlist"), "#" %></li>
    </ul>
  </div>
  <div class="contact">
    <ul>
      <li class="address"><%= t(".address") %></li>
      <li class="mobile"><%= t(".mobile") %></li>
      <li class="email"><%= t(".email") %></li>
    </ul>
  </div>
</div>
