<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> <%= t("layout.admin.title") %></title>
    <%= render "admin/layouts/rails_default" %>
    <%= render "admin/layouts/shim" %>
  </head>

  <body>
    <%= render "admin/layouts/header" %>
    <%= render "admin/layouts/sidebar" %>
    <%= yield %>
  </body>
</html>
